.main_window
  .left_sword_shield
  .title Ruby Warrior
  .right_sword_shield
  .spartacus
  =link_to "VENTURE FORTH!", board_path, class: "button text"
  .banner
    .text A TRIUMPHANT QUEST OF ADVENTURE, LOVE & DESTINY <br> ALL WITHIN A FEW LINES OF CODE
